@model IEnumerable<MVC_grade_app.Entities.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("Success")
@await Html.PartialAsync("Error")


<div class="container">
    <div class="row mb-3 justify-content-between align-items-center">
        <div class="col-auto">
            <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
        </div>
        <div class="col-auto">
            <form asp-action="UploadStudents" method="post" enctype="multipart/form-data">
                <div class="form-group m-0">
                    <input type="file" name="file" id="file" class="form-control form-control-sm" accept=".csv" />
                    <button type="submit" class="btn btn-sm btn-outline-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-link">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-link">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
